* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-swe-dan.dan-swe.lrx -text
/apertium-swe-dan.dan-swe.t1x -text
/apertium-swe-dan.dan-swe.t2x -text svneol=unset#application/xml
/apertium-swe-dan.dan-swe.t3x -text svneol=unset#application/xml
/apertium-swe-dan.dan.tsx -text
/apertium-swe-dan.dan_old.tsx -text
/apertium-swe-dan.swe-dan.dix -text
/apertium-swe-dan.swe-dan.lrx -text
/apertium-swe-dan.swe-dan.t1x -text
/apertium-swe-dan.swe-dan.t2x -text svneol=unset#application/xml
/apertium-swe-dan.swe-dan.t3x -text svneol=unset#application/xml
/autogen.sh -text
/configure.ac -text
/dan-swe-supervised.make -text
/dan-swe-unsupervised.make -text
dev/DA-SV.WORDS.txt -text
dev/PTAdditionsTo.sv.dix -text
dev/analyse-all-stages.sh -text
dev/apertium-is-sv.sv.dix.marked -text
dev/apertium-sv-da.da.dix-OLD -text
dev/apertium-sv-da.da.dix-mergeleftover -text
dev/apertium-sv-da.da.dix.INFREQ -text
dev/apertium-sv-da.sv.dix.INFREQ -text
dev/apertium-sv-da.sv.dix.merged -text
dev/bidix-noun-update-gender.py -text
dev/bidix-remove-i.py -text
dev/comb.da.dix -text
dev/cross/Makefile -text
dev/cross/cross-model.xml -text
dev/cross/exp-to-dix.awk -text
dev/cross/preproc.sh -text
dev/dan-swe.prob.old -text
dev/dictionary-coverager.py -text
dev/dictionary-trimmer.py -text
dev/dublet_flexion -text
dev/dublet_flexion.new -text
dev/europarl-bidix.xml -text
dev/europarl-bidix_cleaned.xml -text
dev/evaluate-noun-list.py -text
dev/fast-cov.pl -text
dev/hitparade.da.txt -text
dev/hitparade.sv.txt -text
dev/list-adjectives-paradigms.sh -text
dev/lt-expand-grep.sh -text
dev/missing_in_tsx-file.txt -text
dev/new-to-check.dix -text
dev/noun-paradigms.extract -text
dev/parseparadigms.py -text
dev/precommit-testvoc.sh -text
dev/print-lemmas-not-in-comb.pl -text
dev/proc-wordlist-into-bidix.py -text
dev/remove-duplicate-lines.py -text
dev/remove-duplicate-noun-lines.py -text
dev/rm-dup-lm.pl -text
dev/saldo/saldo.nouns-added-130218.dix -text
dev/saldo/saldo.nouns-already-added.dix -text
dev/saldo/saldo.nouns.dix -text
dev/status.txt -text
dev/sv-da-no.words.txt -text
dev/swe-dan.prob.old -text
dev/taggerLabels.sv -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
dev/todo-bi-entries-missing-from-swe.dix -text
dev/tomerge-apertium-swe-dan.dan.dix -text
doc/apertium-dansk-dkuug-artikel-af-Jacob_Nordfalk.odt -text
doc/freerbmt09_svda/Makefile -text
doc/freerbmt09_svda/NOTES -text
doc/freerbmt09_svda/apertium2.pdf -text
doc/freerbmt09_svda/eval/apertium.da.txt -text
doc/freerbmt09_svda/eval/google-postedited.da.txt -text
doc/freerbmt09_svda/eval/google.da.txt -text
doc/freerbmt09_svda/eval/gramtrans.da.txt -text
doc/freerbmt09_svda/eval/original.sv.txt -text
doc/freerbmt09_svda/eval/postedited.da.txt -text
doc/freerbmt09_svda/eval/sentences.txt -text
doc/freerbmt09_svda/freerbmt09.sty -text
doc/freerbmt09_svda/freerbmt09svda.bib -text
doc/freerbmt09_svda/freerbmt09svda.tex -text
/modes.xml -text
/swe-dan-supervised.make -text
/swe-dan-unsupervised.make -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
/testcorpus_da-sv.sh -text
/testcorpus_sv-da.sh -text
texts/story.swe.txt -text
texts/trädbank.swe.txt -text
texts/udhr.dan.txt -text
texts/udhr.swe.txt -text
